
body {font-family: "Roboto", sans-serif;
     background: #fff;
     color: #434455;
    }
 a {
     text-decoration: none;
 }
 ul,ol{ 
    margin: 0;
    padding-left: 0;
    list-style-type: none;
 }
 button {cursor: pointer;}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
img {
    display: block;
}
.container{
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
fieldset {
    padding: 0;
    margin: 0;
    border: none;
  }
/* header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);

}
.header-contr {
    display:flex;
    align-items: center;

}
.header__nav {display: flex;
    align-items: center;
    }

.header__logo {font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    padding: 24px 0;
  }

.header__menu {display: flex;
    align-items: center;
    gap: 40px ;
}

.menu__item {}

.logo-style{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
    }
    

.menu__link {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.menu__link.curent{
    position: relative;
}

.menu__link.curent::after{
    content:'' ;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
}

.menu__link.curent,
.menu__link:focus,
.menu__link:hover {
    color: #404bbf;} 
   
.header__contact {font-style: normal;
    margin-left: auto;
}

.contact__list {display: flex;
    align-items: center;
    gap: 40px;
}

.contact__item {}

.contact__link {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover{color: #404bbf;}
.contact__link:focus{color: #404bbf}
/* sektion main1 */
.main-content {}

.hero {
    max-width: 1440px;
    background-color: #2e2f42;
        background-image:
            linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/people-office.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 188px 0;
        margin: 0 auto;
}
.hero-contr{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero__title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
}

.hero__button {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.hero__button:hover,.hero__button:focus{
    background-color: #404bbf;
}
/* main 2 servis */
.services {
    padding: 120px 0;
}

.services__title {}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hidden {
    display: none;
}

.services__list {
    display: flex;
        gap: 24px;
}
.services__item {
    width: calc((100% - 72px) / 4);
    }
.services-svglist{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
}
.services__subtitle {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}


.services__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Team main */

.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team__title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.team__list {
    display: flex;
    gap: 24px;
}

.team__member:first-child {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team__member {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
                0 1px 1px 0 rgba(46, 47, 66, 0.16),
                0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team__photo {}

.team-contr {
    padding: 32px 0;
}

.team__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team__role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-bloklist {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-bloklist-box {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-bloklist-box:hover,
.team-bloklist-box:focus {
    background-color: #404bbf;
}

.team-bloklist-box a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color, #4d5ae5);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-bloklist-box a:hover,
.team-bloklist-box a:focus {
    background-color: #404bbf;
}

.team-svg-social {
    width: 16px;
    height: 16px;
    fill: var(--icon-color, #f4f4fd);
}
/* < !-- Portfolio --> */
.portfolio {
    padding: 120px 0;
}

.portfolio__title {font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio__list {
    display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
}
.portfolio__item:hover,
.portfolio__item:focus{box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    

}


.portfolio__item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }
.prtfolio_tumba {
position: relative;
overflow: hidden;
}
.overlay {
    padding: 40px 32px;
    background-color: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
/* .prtfolio_tumba:hover .overlay {
    transform: translateY(0);

} */
.portfolio__item:hover .overlay {
    transform: translateY(0);}

.portfolio__image {}
.portfolio-card-content{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio__category {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}
/* footer */

  .footer {
    padding: 100px 0;
    background-color: #2e2f42;
}

.footer-bot {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}


.footer-logobox {
    max-width: 264px;
}

.footer__logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logofooter-style {
    color: #f4f4fd;
}

.footer__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}


.social-container {
    display: flex;
    flex-direction: column;
}

.social-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    gap: 16px;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #31d0aa;
}

.social-icon {
    width: 24px;
    height: 24px;
    fill: #f4f4fd;
}


.subscribe-container {
    display: flex;
    flex-direction: column;
    width: 453px;
    height: 80px;
}

.subscribe-form {
    display: flex;
    align-items: center;
    gap: 24px;
}


.subscribe-input {
    padding: 12px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.subscribe-input:focus,
.subscribe-input:hover {
    border-color: #4d5ae5;
}


.subscribe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    min-width: 165px;
    height: 40px;
    gap: 8px;
    padding: 12px 20px;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #404bbf;
}


.subscribe-icon {
    width: 20px;
    height: 20px;
    fill: #ffffff;
    margin-left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .subscribe-button:hover .subscribe-icon,
.subscribe-button:focus .subscribe-icon {
    fill: #e5e5e5;
} */
  /* model */

  .modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* opacity: 0;
    visibility: hidden; */
}

/* .modal_overlay.is_open {
    opacity: 1;
    visibility: visible;
} */

.modal_window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_close:hover,
.modal_close:focus {
    background-color: #404bbf;
    border: none;
}

.modal_close_icon {
    width: 8px;
    height: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_close:hover .modal_close_icon,
.modal_close:focus .modal_close_icon {
    fill: #ffffff;
}

.modal_title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.contact_form {
    display: flex;
    flex-direction: column;
}

.form_field {
    margin-bottom: 8px;
}
.form_field_textarea{
    margin-bottom: 16px;
}
.form_label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.input_container {
    position: relative;
}

.form_input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_input:focus {
    border-color: #4D5AE5;
}

.input_icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_input:focus + .input_icon {
    fill: #4D5AE5;
}

.form_textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_textarea:focus {
    border-color:#4D5AE5;
}


.checkbox_container {
    margin-bottom: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox_label {
    /* display: flex; */
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--text-gray, #8e8f99);
    cursor: pointer; 
}

.custom_checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex ;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    margin-right: 8px;
}

.checkbox_icon {
    width: 10px;
    height: 8px;
}

.visually-hidden:checked + .checkbox_label .custom_checkbox {
    background-color: var(--checkbox-blue, #404bbf);
    border: none;
    fill: var(--icon-white, #F4F4FD);
}

.privacy_link {
    color: var(--link-blue, #4d5ae5);
    text-decoration: none;
}

.privacy_link:hover {
    text-decoration: underline;
}
.submit_button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit_button:hover,
.submit_button:focus {
    background-color: #404bbf;
}